@import url("/css/fonts.css");

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'DM Sans';
}

body,
html {
    overflow-x: hidden;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.fontHeading {
    font-family: 'DM Serif Text' !important;
}

.container {
    max-width: 1250px;
    width: 100%;
    height: 100%;
}

.btn-danger {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: #F7F4F2;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(7, 22, 45, 0.16);
    box-shadow: 0px 4px 8px 0px rgba(7, 22, 45, 0.16);
    border: none;
    border-radius: 50px;
}

.btn-delete {
    float: right;
    padding-top: 10px;
    margin-top: 10px;
    color: red;
    border: 0px;
    background: #F7F4F2;
}

    .btn-delete:hover {
        color: red;
        background: #F7F4F2;
    }

.btn-danger:hover {
    background: #e8e6e5;
}

.nounderline {
    text-decoration: none;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
    background: #e8e6e5;
}

.header_section {
    padding: 40px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

    .header_section .navbar {
        padding: 0 !important;
    }

    .header_section .navbar-nav {
        max-width: 174px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .header_section .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
    }

    .header_section .nav-link {
        padding: 0 !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
    }

    .header_section .img_logo {
        max-width: 192px;
        width: 100%;
    }

    .header_section .contact_btn {
        max-width: 110px;
        width: 100%;
        height: 46px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-decoration: none;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        color: #07162D;
        border: 1px solid #07162D;
    }

.hero_section .hero_content {
    width: calc(50% - 10px);
}

.hero_section .inner_hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 120px;
}

.hero_section h1 {
    color: #07162D;
    font-size: 104px;
    font-family: 'DM Serif Text';
    font-style: normal;
    font-weight: 400;
    line-height: 1.0;
    letter-spacing: -2.08px;
}

.hero_section p {
    color: #07162D;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.0;
    letter-spacing: -0.48px;
    margin-top: 40px;
}

.hero_section .join_us_btn {
    max-width: 111px;
    width: 100%;
    height: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #07162D;
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.0;
}

.hero_section .hero_section_btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
    margin-top: 48px;
}

.hero_section .resources_btn {
    max-width: 135px;
    width: 100%;
    height: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.0;
    color: #07162D;
    border: 1px solid #07162D;
}

.hero_section .hero_section_img {
    width: calc(50% - 10px);
}

.about_section {
    background: #F7F4F2;
}

    .about_section .content_about {
        padding: 160px 0px;
    }

    .about_section h4 {
        color: #07162D;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.0;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        padding-bottom: 35px;
    }

    .about_section h2 {
        max-width: 504px;
        width: 100%;
        color: #07162D;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.0;
        letter-spacing: -0.96px;
        margin: auto;
        padding-bottom: 35px;
    }

    .about_section p {
        max-width: 504px;
        width: 100%;
        color: #07162D;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: -0.32px;
        margin: auto;
        padding-bottom: 35px;
        text-align: center;
    }

    .about_section .about_btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 30px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

        .about_section .about_btn .learn_more {
            max-width: 141px;
            width: 100%;
            height: 54px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            background-color: #07162D;
            color: #FFF;
            text-decoration: none;
        }

        .about_section .about_btn .contact_btn {
            border: 1px solid #07162D;
            color: #07162D;
            max-width: 118px;
            width: 100%;
            height: 54px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-decoration: none;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

.resources_section .inner_resources {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 120px 0px;
}

.resources_section .resources_content {
    max-width: 460px;
    width: 100%;
}

.resources_section .resources_img {
    width: calc(50% - 10px);
}

.resources_section h5 {
    color: #07162D;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.0;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding-bottom: 16px;
}

.resources_section h2 {
    color: #07162D;
    max-width: 458px;
    width: 100%;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -1.12px;
    padding-bottom: 40px;
}

.resources_section p {
    max-width: 310px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.32px;
    padding-bottom: 48px;
}

.resources_section .resourece_btn {
    background: #07162D;
    max-width: 158px;
    width: 100%;
    height: 54px;
    color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
}

.learnmore {
    background: #B8945C;
    padding: 137px 0;
}

    .learnmore .inner_learn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .learnmore h2 {
        color: #07162D;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -1.12px;
        font-family: DM Serif Text;
    }

    .learnmore .contact_learn_btn {
        width: 118px;
        height: 54px;
        background-color: #07162D;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-decoration: none;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    }

.footer_section {
    background: #07162D;
}

    .footer_section .inner_footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 160px;
        padding-bottom: 120px;
        border-bottom: 1px solid #FFFFFF;
    }

    .footer_section .footer_img {
        max-width: 190px;
        width: 100%;
    }

    .footer_section .footer_content .footer_link a {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 2.0;
        text-decoration: none;
    }

    .footer_section .footer_copyright h4 {
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.0;
        letter-spacing: -0.32px;
        padding: 48px 0px;
    }

.about_section1 h2 {
    padding-top: 160px;
    color: #07162D;
    text-align: center;
    font-size: 104px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -2.08px;
    max-width: 717px;
    width: 100%;
    margin: auto;
    font-family: 'DM Serif Text';
}

.about_section1 p {
    padding-top: 40px;
    padding-bottom: 48px;
    color: #07162D;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.0;
    letter-spacing: -0.48px;
    max-width: 553px;
    width: 100%;
    margin: auto;
}

.about_section1 .Confession_btn {
    max-width: 201px;
    width: 100%;
    height: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    color: #FFF;
    background: #07162D;
    margin: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.0;
    margin-bottom: 120px;
}

.about_back_img {
    background: -webkit-gradient(linear, left bottom, left top, from(#f6f3f3), to(#B1B1B1)), url("/img/about_back_img.png"), lightgray 0px -177.828px/100% 157.591% no-repeat;
    background: linear-gradient(0deg, #f6f3f3 0%, #B1B1B1 100%), url("/img/about_back_img.png"), lightgray 0px -177.828px/100% 157.591% no-repeat;
    height: 720px;
}

    .about_back_img .about_img_content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
    }

    .about_back_img h2 {
        color: #FFF;
        text-align: center;
        font-size: 62.462px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.0;
        max-width: 724px;
        width: 100%;
    }

.beleive_section {
    background: #F7F4F2;
    padding-top: 200px;
}

    .beleive_section h1 {
        color: #07162D;
        text-align: center;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        font-family: DM Serif Text;
        line-height: 100%;
        letter-spacing: -1.12px;
    }

    .beleive_section .boxes_item {
        background: #FFF;
        width: calc(33.33% - 16px);
        padding: 40px;
    }

        .beleive_section .boxes_item .icon_box {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background: #F7F4F2;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-bottom: 20px;
        }

    .beleive_section h3 {
        color: #07162D;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: -0.48px;
        padding-bottom: 20px;
    }

    .beleive_section p {
        color: #07162D;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -0.32px;
    }

    .beleive_section .inner_boxes {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-top: 96px;
        padding-bottom: 155px;
    }

.CREC_Section .CREC_Content {
    margin: 160px 0;
}

.CREC_Section h2 {
    color: #07162D;
    text-align: center;
    max-width: 736px;
    width: 100%;
    margin: auto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -0.48px;
}

.CREC_Section .CREC_Logo {
    margin-top: 88px;
    max-width: 98px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.resources_sections .sermons_section {
    max-width: 590px;
    width: 100%;
}

.resources_sections h2 {
    padding: 160px 0;
    max-width: 719px;
    color: #07162D;
    text-align: center;
    font-size: 104px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.0;
    letter-spacing: -2.08px;
    margin: auto;
    font-family: DM Serif Text;
}

.resources_sections .resources_content {
    max-width: 592px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 32px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.resources_sections h5 {
    color: #07162D;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.48px;
}

.resources_sections span {
    color: #07162D;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.0;
}

.resources_sections .resources_values {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(20, 20, 20, 0.1);
    max-width: 592px;
    width: 100%;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

    .resources_sections .resources_values:last-child {
        border-bottom: 0;
    }

    .resources_sections .resources_values .box_info {
        width: 72px;
        height: 72px;
        background: #F7F4F2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

.resources_sections .see_all {
    color: #07162D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.0;
    letter-spacing: -0.32px;
    text-decoration: none;
}

    .resources_sections .see_all span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 8px;
    }

.resources_sections .dout {
    padding: 0 12px;
}

.resources_sections h4 {
    color: #07162D;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.48px;
}

.resources_sections .inner_resources {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 216px;
}

.liturgy_section {
    background: #B8945C;
}

    .liturgy_section .Liturgy_content {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .liturgy_section .Liturgy_content:last-of-type {
            border-left: 1px solid #07162D;
            padding-left: 85px;
        }

    .liturgy_section h1 {
        color: #07162D;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: -1.12px;
        font-family: DM Serif Text;
    }

    .liturgy_section p {
        color: #07162D;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        max-width: 360px;
        letter-spacing: -0.32px;
        margin-bottom: 40px;
    }

    .liturgy_section .view_liturgy_btn {
        max-width: 150px;
        width: 100%;
        height: 54px;
        text-decoration: none;
        background: #FFFFFF;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #07162D;
        margin-top: auto;
    }

        .liturgy_section .view_liturgy_btn.live {
            margin-top: 40px;
        }

    .liturgy_section img {
        padding-left: 8px;
    }

    .liturgy_section .inner_liurgy {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 160px 0px;
    }

@media (max-width: 1370px) {
    .container {
        max-width: 1175px;
    }

    .liturgy_section .inner_liurgy {
        padding: 130px 0px;
    }

    .resources_sections h2 {
        padding: 130px 0px;
        font-size: 90px;
    }

    .CREC_Section .CREC_Logo {
        margin-top: 60px;
    }

    .learnmore {
        padding: 90px 0;
    }

    .footer_section .inner_footer {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .CREC_Section .CREC_Content {
        margin: 130px 0;
    }

    .beleive_section .inner_boxes {
        padding-bottom: 100px;
    }

    .beleive_section {
        padding-top: 100px;
    }

    .about_section1 .Confession_btn {
        margin-bottom: 80px;
    }

    .about_back_img {
        height: 600px;
    }

    .about_section1 h2 {
        padding-top: 100px;
    }

    .header_section {
        padding: 25px 0px;
    }

    .resources_section.resources_img {
        max-width: 500px;
        width: 100%;
    }

    .contact_section .contact_img::before {
        content: "";
        background-image: url("/img/contact.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        left: -150px;
        width: calc(100% + 150px);
        height: 100%;
        z-index: -1;
    }
}

.Liburgy_main_section {
    background: #F7F4F2;
}

    .Liburgy_main_section h1 {
        padding-top: 160px;
        color: #07162D;
        font-size: 104px;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -2.08px;
        font-family: DM Serif Text;
    }

    .Liburgy_main_section p {
        color: #07162D;
        text-align: center;
        padding-bottom: 93px;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.0;
        letter-spacing: -0.48px;
    }

.Liburgy_main_content .Liburgy_main_value {
    max-width: 592px;
    width: 100%;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 220px;
}

.Liburgy_main_content h5 {
    color: #07162D;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.0;
    letter-spacing: -0.48px;
}

.Liburgy_main_content h4 {
    color: #07162D;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: -0.48px;
    margin-top: 34px;
}

.Liburgy_main_content span {
    color: #07162D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.0;
    letter-spacing: -0.32px;
}

.Liburgy_main_content ul {
    list-style-type: disc;
    margin-left: 25px;
}

.contact_section .contact_img {
    position: relative;
    max-width: 864px;
    width: 100%;
    height: 807px;
}

    .contact_section .contact_img::before {
        content: '';
        background-image: url("/img/contact.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        left: -250px;
        width: calc(100% + 250px);
        height: 100%;
        z-index: -1;
    }

.contact_section .inner_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact_section .content_contact {
    position: relative;
    max-width: 864px;
    width: 100%;
    height: 807px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 120px;
}

    .contact_section .content_contact::before {
        content: "";
        background-color: #F7F4F2;
        position: absolute;
        left: 0;
        width: calc(100% + 250px);
        height: 100%;
        z-index: -1;
    }

.contact_section h1 {
    padding-bottom: 63px;
    color: #07162D;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8;
}

.contact_section .form-control {
    border-radius: 0;
    max-width: 448px;
    width: 100%;
    padding: 24px;
    margin-bottom: 6px;
    border-color: rgba(7, 22, 45, 0.4);
    height: 72px;
}

.contact_section textarea.form-control {
    height: 160px;
}

.contact_section .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgba(7, 22, 45, 0.4);
}

.contact_section ::-webkit-input-placeholder {
    color: #07162D;
    letter-spacing: -0.32px;
    opacity: 0.699999988079071;
}

.contact_section :-ms-input-placeholder {
    color: #07162D;
    letter-spacing: -0.32px;
    opacity: 0.699999988079071;
}

.contact_section ::-ms-input-placeholder {
    color: #07162D;
    letter-spacing: -0.32px;
    opacity: 0.699999988079071;
}

.contact_section ::placeholder {
    color: #07162D;
    letter-spacing: -0.32px;
    opacity: 0.699999988079071;
}

.contact_section .contact_btn_sub {
    max-width: 111px;
    height: 54px;
    text-decoration: none;
    color: #FFF;
    background: #07162D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.0;
    margin-top: 24px;
}

.services_section .inner_services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 199px;
    margin-bottom: 168px;
}

.services_section h2 {
    color: #07162D;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    max-width: 264px;
    margin-bottom: 32px;
    width: 100%;
}

.services_section span {
    max-width: 264px;
    width: 100%;
    display: block;
    color: #07162D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 1.0;
    letter-spacing: -0.32px;
}

.Sermons_section {
    margin-bottom: 202px;
}

    .Sermons_section .inner_search_bar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .Sermons_section .inner_search_bar {
        margin-bottom: 50px;
    }

    .Sermons_section h2 {
        padding-top: 160px;
        padding-bottom: 108px;
        color: #07162D;
        text-align: center;
        font-size: 104px;
        font-style: normal;
        font-weight: 400;
        line-height: 96%;
        letter-spacing: -2.08px;
        font-family: DM Serif Text;
    }

    .Sermons_section span {
        color: #07162D;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.0;
        letter-spacing: -0.32px;
    }

    .Sermons_section h4 {
        color: #07162D;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: -0.48px;
    }

    .Sermons_section .search_bar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 592px;
        width: 100%;
        border: 1px solid #07162D;
        padding: 16px 24px;
    }

    .Sermons_section .form-control {
        border: none;
        padding: 0;
    }

        .Sermons_section .form-control:focus {
            border-color: transparent;
            outline: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

    .Sermons_section .showing_arrow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 15px;
    }

    .Sermons_section .left_arrow {
        width: 48px;
        height: 48px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border: 1px solid #07162D;
    }

    .Sermons_section .sermons_values {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 12px;
    }

    .Sermons_section .sermons_date {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 12px;
    }

    .Sermons_section .inner_valus_data {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-bottom: 32px;
        margin-bottom: 32px;
        border-bottom: 1px solid rgba(20, 20, 20, 0.1);
    }

        .Sermons_section .inner_valus_data:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: 0;
        }

.sermon_video_btn .inner_video_sermons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 16px 0;
}

.sermon_video_btn .info_sermon_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sermon_video_btn .sermons_btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sermon_video_btn .all_btns_sermon {
    padding: 16px 28px;
    border: 1px solid #07162D;
    text-decoration: none;
    color: #07162D;
}
.sermon_video_btn .all_btns_sermon_highlight {
    padding: 16px 28px;
    border: 1px solid #B8945C;
    text-decoration: none;
    color: #B8945C;
}

.sermons_video_section {
    background: #F7F4F2;
    padding-top: 160px;
}

    .sermons_video_section span {
        color: #07162D;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -0.32px;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }


    .sermons_video_section .text-danger {
        justify-content: left;
        padding-left: 10px;
    }

    .sermons_video_section h3 {
        color: #07162D;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        /* 100% */
        letter-spacing: -0.96px;
        max-width: 384px;
        width: 100%;
        margin: auto;
    }

    .sermons_video_section .inner_video_date {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 12px;
    }

    .sermons_video_section .sermons_video_img {
        margin-top: 56px;
        position: relative;
        margin-bottom: 96px;
    }

        .sermons_video_section .sermons_video_img iframe {
            max-width: 1216px;
            width: 100%;
            height: 640px;
        }

    .sermons_video_section a::before {
        background: transparent;
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .sermons_video_section .play_button {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-width: 120px;
        width: 100%;
    }

    .sermons_video_section .audio_img {
        padding-top: 32px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

.downloadBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #07162D;
    max-width: 190px;
    width: 100%;
    height: 55px;
    color: #07162D;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
}

/* Responsive part start */
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .Liburgy_main_section h1 {
        padding-top: 130px;
        font-size: 90px;
    }

    .about_section1 h2 {
        font-size: 80px;
    }

    .about_back_img {
        height: 500px;
    }

    .header_section .navbar-toggler {
        border: none;
    }

    .resources_sections .inner_resources {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 150px;
    }

    .contact_section .content_contact {
        padding-left: 30px;
    }

    .beleive_section .inner_boxes {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        gap: 15px;
    }

    .sermons_video_section .sermons_video_img iframe {
        height: 500px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .sermons_video_section .sermons_video_img iframe {
        height: 400px;
    }

    .contact_section .contact_img {
        height: 660px;
    }

    .beleive_section .boxes_item {
        width: calc(50% - 10px);
    }

    .about_section1 {
        margin-top: 90px;
    }

    .hero_section .hero_section_img {
        width: 100%;
    }

    .resources_section .resources_img {
        width: 100%;
    }

    .resources_section .resources_content {
        max-width: 100%;
    }

    .hero_section .hero_content {
        width: 100%;
        margin-bottom: 90px;
    }

    .sermons_video_section {
        padding-top: 130px;
    }

    .Sermons_section {
        margin-bottom: 130px;
    }

        .Sermons_section .inner_valus_data {
            gap: 4px;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

    .sermons_video_section .audio_img {
        padding-top: 32px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .Liburgy_main_section p {
        font-size: 18px;
    }

    .header_section {
        position: fixed;
        width: 100%;
        top: 0;
        background: #fff;
        z-index: 9999;
    }

    .liturgy_section .inner_liurgy {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .hero_section .inner_hero {
        margin-top: 154px;
        margin-bottom: 120px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .navbar-toggler:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-nav .nav-link.active {
        padding-bottom: 40px !important;
    }

    .header_section .navbar-nav {
        margin-top: 40px;
    }

    .navbar-toggler {
        padding: none;
    }

    .header_section .navbar-collapse.collapse {
        height: 100vh !important;
        -webkit-transition: unset;
        transition: unset;
    }

    .header_section .nav_icons .cross_icon {
        display: none;
    }

    .header_section .nav_icons.nav__icons .cross_icon {
        display: block;
    }

    .header_section .nav_icons.nav__icons .ham_icon {
        display: none;
    }

    .header_section .contact_btn {
        margin: auto;
    }

    .hero_section h1 {
        font-size: 85px;
    }

    .about_section .content_about {
        padding: 80px 0px;
    }

    .beleive_section .inner_boxes {
        gap: 20px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .resources_section .inner_resources {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 20px;
    }

    .resources_sections h2 {
        padding-top: 160px;
        padding-bottom: 80px;
        max-width: 500px;
        width: 100%;
        font-size: 75px;
    }

    .resources_section h2 {
        font-size: 48px;
    }

    .learnmore h2 {
        font-size: 50px;
    }

    .Liburgy_main_section h1 {
        font-size: 75px;
    }

    .Liburgy_main_content .Liburgy_main_value {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .resources_sections .inner_resources {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .liturgy_section .Liturgy_content:last-of-type {
        border-top: 1px solid #07162D;
        padding-left: 0;
        padding-top: 70px;
        margin-top: 70px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-left: 0;
    }

    .liturgy_section .inner_liurgy {
        padding: 70px 0px;
    }

    .liturgy_section p {
        text-align: center;
    }

    .contact_section .content_contact {
        padding-left: 25px;
        height: 100%;
    }

    .contact_section .form-control {
        max-width: 335px;
        width: 100%;
    }

    .Sermons_section h2 {
        padding-top: 135px;
        padding-bottom: 96px;
        font-size: 75px;
    }

    .Sermons_section .search_bar {
        max-width: 400px;
        width: 100%;
    }

    .Sermons_section .inner_search_bar {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .sermons_video_section .play_button {
        max-width: 80px;
        width: 100%;
    }

    .sermon_video_btn {
        margin-top: 120px;
    }
}

/* mobile Phones small devices */
@media (max-width: 575.98px) {
    .sermons_video_section .sermons_video_img iframe {
        height: 197px;
    }

    .sermons_video_section .audio_img audio {
        width: 100%;
    }

    .inner_resources .music_section {
        max-width: 590px;
        width: 100%;
    }

    .Liburgy_main_section {
        padding-top: 40px;
    }

    .beleive_section .boxes_item {
        width: 100%;
    }

    .resources_section .resources_content {
        margin-bottom: 80px;
    }

    .hero_section .inner_hero {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 96px;
    }

    .hero_section h1 {
        font-size: 56px;
        max-width: 256px;
        width: 100%;
        margin-top: 96px;
    }

    .resources_section .inner_resources {
        margin: 160px 0px;
    }

    .about_section .content_about {
        padding: 160px 0px;
    }

    .liturgy_section .inner_liurgy {
        padding: 160px 0px;
    }

    .resources_sections .inner_resources {
        margin-bottom: 160px;
    }

    .learnmore .inner_learn {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;
    }

    .learnmore h2 {
        line-height: 1.0;
        padding-bottom: 48px;
    }

    .footer_section .inner_footer {
        padding-top: 134px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-bottom: 104px;
    }

    .footer_section .footer_copyright h4 {
        max-width: 235px;
        width: 100%;
        margin: auto;
        line-height: 1.5;
    }

    .footer_section .footer_img {
        margin-bottom: 104px;
    }

    .footer_section .footer_content ul {
        text-align: center;
    }

    .footer_section .footer_content .footer_link a {
        line-height: 2.3;
    }

    .about_section1 h2 {
        font-size: 56px;
        margin-top: 96px;
    }

    .beleive_section h1 {
        font-size: 48px;
        font-family: DM Serif Text;
    }

    .beleive_section .inner_boxes {
        gap: 32px;
        padding-bottom: 160px;
    }

    .about_back_img h2 {
        font-size: 38px;
    }

    .CREC_Section h2 {
        line-height: 1.5;
    }

    .Liburgy_main_section h1 {
        font-size: 56px;
    }

    .resources_sections h2 {
        font-size: 56px;
        margin-top: 96px;
        padding-bottom: 85px;
    }

    .contact_section .content_contact {
        padding: 0px 20px;
        margin-top: 95px;
        padding-top: 90px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }

        .contact_section .content_contact::before {
            top: 0;
        }

    .contact_section .form-control {
        max-width: 350px;
        width: 100%;
    }

    .contact_section .row {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }

    .services_section .inner_services {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 120px 0;
    }

    .services_section .content_services.email {
        margin-top: 96px;
    }

    .contact_section .contact_img {
        height: 580px;
    }

    .Sermons_section {
        margin-bottom: 160px;
    }

        .Sermons_section h2 {
            font-size: 56px;
        }

        .Sermons_section h4 {
            width: 100%;
        }

        .Sermons_section .inner_search_bar {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .Sermons_section .inner_valus_data {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .Sermons_section .sermons_values {
            -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
        }

        .Sermons_section .showing_arrow {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            width: 100%;
            margin-top: 8px;
        }

        .Sermons_section .inner_search_bar {
            margin-bottom: 56px;
        }

    .sermons_video_section h3 {
        font-size: 36px;
        max-width: 310px;
        width: 100%;
    }

    .sermons_video_section .play_button {
        max-width: 78px;
        width: 100%;
        height: 100px;
    }

    .sermon_video_btn .inner_video_sermons {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .sermon_video_btn .info_sermon_img {
        display: none;
    }

    .sermons_video_section {
        padding-top: 120px;
    }
}
