@{
    ViewData["Title"] = "The Kings Congregation";
}

<style type="text/css">

    .FAQ h4 {
        color: #07162D;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8;
        letter-spacing: -0.48px;
        margin-top: 34px;
    }
    .FAQ span {
        color: #07162D;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.0;
        letter-spacing: -0.32px;
    }
    .FAQ h1 {
        margin-bottom: 50px;
    }
</style>
<!-- about_section1 start -->
<section class="about_section1">
    <div class="container">
        <h2>Come, Taste and See that the Lord is Good</h2>
        <p>We are a Christian, evangelical, and Reformed congregation that seeks to worship the Triune God</p>
        <a class="Confession_btn" href="TKC_Confession.pdf">Confession of Faith</a>
    </div>
</section>
<!-- about_section1 End -->
<!-- about_back_img section start -->
<section class="about_back_img">
    <div class="container">
        <div class="about_img_content">
            @*<h2>Photo of Congregation Worshipping/Singing</h2>*@
            <img src="/img/tkc-alan.jpg" alt="Alan" />
        </div>
    </div>
</section>
<!-- about_back_img section end -->

<!-- beleive_section start -->
<section class="beleive_section">
    <div class="container">
        <h1>What We Believe</h1>
        <div class="inner_boxes">
            <div class="boxes_item">
                <div class="icon_box">
                    <img src="/img/Group10122871.svg" alt="">
                </div>
                <h3>Our Purpose</h3>
                <p>
                    We are covenanted together to worship and glorify the Triune God, to love one another, and to proclaim the
                    Gospel as His kingdom fills the whole earth.
                </p>
            </div>
            <div class="boxes_item">
                <div class="icon_box">
                    <img src="/img/Group10122872.svg" alt="">
                </div>
                <h3>Our Vision</h3>
                <p>
                    We do not exist to serve ourselves but rather to exalt the glorious Name of the Father, Son, and Holy
                    Spirit as a community of those who have been purchased by the blood of our Lord and King, Jesus Christ..
                </p>
            </div>
            <div class="boxes_item">
                <div class="icon_box">
                    <img src="/img/Group13.svg" alt="">
                </div>
                <h3>Our Mission</h3>
                <p>
                    We seek to raise up godly children in the faith, and to celebrate the goodness of God with feasting,
                    singing, hospitality, and worship. All of these are Christian duties as well as glorious privileges with
                    blessings.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- beleive_section end -->

<!-- about start -->
<section class="Liburgy_main_content">
    <div class="container">
        <div class="Liburgy_main_value" style="max-width: fit-content; ">
            <h4>We are a Covenant Community</h4>
            <span>
                The King’s Congregation (TKC) is a fellowship of believers who are covenanted together to worship and glorify the Triune God, to love one another, and to proclaim the gospel as His kingdom fills the whole earth. We covenant together through membership within a presbyterian form of church government.
            </span>
            <h4>We are Catholic, Reformed, and Evangelical</h4>
            <span>
                As a member of the Communion of Reformed Evangelical Churches (CREC), we stand with the church catholic (universal church) and are committed to the historic Christian faith that was proclaimed by the Apostles, taught by the Church fathers, preached by the Protestant Reformers, and expressed in historic Evangelical orthodoxy.  A good summary of this can be found in the historic creeds of the church such as the Apostle’s, Nicene and Athanasian Creeds, as well as the traditional Confessions of the Protestant Reformation). TKC affirms that the Bible is Christ’s Word and the only sure foundation for truth, life, purpose, meaning, and morality.
            </span>
            <h4>Worship is Central</h4>
            <span>
                Worship is life, life is worship.  As opposed to being centered on our feelings, emotions, or preferences, true worship is centered on God and his glory.  We do not exist to serve ourselves but rather to exalt the glorious Name of the Father, Son, and Holy Spirit as a community of those who have been purchased by the blood of our Lord and King, Jesus Christ.  God-centered and God-honoring worship is the greatest joy and privilege the Creator of the universe has given His finite creatures.  Based on the patterns seen throughout Scripture, our Lord’s Day liturgy follows the basic biblical structure of Covenant Renewal. This pattern is found in both old and new covenant Scriptures, but perhaps the clearest place to see this shape is in Leviticus 9, the first corporate worship service at the newly-constructed tabernacle.
            </span>
        </div>
    </div>
</section>
<!-- END -->

<!-- FAQ start -->
<section class="beleive_section FAQ">
    <div class="container">
        <h1>FAQs About Our Church</h1>

        <div class="container" style="padding-bottom: 50px;">
            <div class="Liburgy_main_value">
                <h4>
                    How did you come up with your church’s name?
                </h4>
                <span>
                    In a society that believes identity is whatever one feels at the moment, we wanted a name that would call attention to the never-changing identity of Christ as the King of kings (1Tim 6.15), and the never-changing identity of the church as Christ’s congregation (Heb 2.12). Like every local body of believers the world over, we are The King’s Congregation (Psalm 68.26).
                </span>

                <h4>
                    Why does the pastor wear a white robe during worship?
                </h4>
                <span>
                    The purpose of the robe is to indicate that the pastor is ministering, not in his own name, but in Jesus’ name. It is intended to take attention off the pastor as an individual, and to call attention to the fact that he is serving the congregation on behalf of Christ. The robe is white because Jesus and the saints in heaven are depicted in the Bible as wearing white robes (Luke 9.28-29; Rev 3.4-5; 7.9-14).
                </span>

                <h4>
                    Where do you get your pattern for worship?
                </h4>
                <span>
                    We get it from Scripture, where we see a pattern of worship built around the idea of coming to God’s house, where he reaffirms his love and commitment to us, and we to him, similar to the way a married couple may retake their marriage vows, reaffirming their love and commitment to one another. This is often called “covenant renewal worship.” Picture us coming to God’s house Sunday morning. In the Call to Worship, we come together and call upon the name of God, the way visitors in the ancient world would call upon the owner of the home from the gate out front (Psalm 100.4; Acts 12.13-14). Christ meets us and brings us into God’s house and seats us around his table (Luke 22.10-14). In the Confession of Sin and Assurance of Pardon, Christ washes our feet, cleansing us from our sins as we have walked in the world over the past week (John 13.3-10). In the Songs, Prayers, and Confession of Faith, we speak to Christ (Rev 5.8-10), and in the Reading and Preaching of the Word, Christ speaks to us (Luke 24.27). Christ then serves us a fellowship meal in the Lord’s Supper (Luke 22.19-20; 24.30-31) and sends us out with his blessing in the Benediction (Luke 24.51). In the entirety of the worship service, Christ reaffirms his love and commitment to us, and we reaffirm our love and commitment to Christ.
                </span>
            </div>
        </div>

    </div>
</section>

<!-- FAQ end -->


<!-- CREC_Section start -->
<section class="CREC_Section">
    <div class="container">
        <div class="CREC_Content">
            <h2>
                The King's Congregation has been affiliated with the Communion of Reformed Evangelical Churches (CREC) since
                2001.
            </h2>
            <div class="CREC_Logo">
                <img src="/img/CREC.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- CREC_Section end -->
<!-- Learn More Section start -->
<section class="learnmore">
    <div class="container">
        <div class="inner_learn">
            <div class="learn_contenet">
                <h2>Want to Learn More?</h2>
            </div>
            <div class="learn_btn">
                <a class="contact_learn_btn" href=""> Contact</a>
            </div>
        </div>
    </div>
</section>
<!-- Learn More Section End -->