@{
    ViewData["Title"] = "The Kings Congregation";
}

<style type="text/css">

    .FAQ h4 {
        color: #07162D;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8;
        letter-spacing: -0.48px;
        margin-top: 34px;
    }
    .FAQ span {
        color: #07162D;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.0;
        letter-spacing: -0.32px;
    }
    .FAQ h1 {
        margin-bottom: 50px;
    }
</style>
<!-- about_section1 start -->
<section class="about_section1">
    <div class="container editor" contentid="9">
        @await Component.InvokeAsync("HtmlContent", new { contentid = 9 })
    </div>
</section>
<!-- about_section1 End -->
<!-- about_back_img section start -->
<section class="about_back_img">
    <div class="container editor" contentid="10">
        @await Component.InvokeAsync("HtmlContent", new { contentid = 10 })
    </div>
</section>
<!-- about_back_img section end -->

<!-- beleive_section start -->
<section class="beleive_section">
    <div class="container">
        <h1>What We Believe</h1>
        <div class="inner_boxes" style="padding-bottom: 20px;">
            <div class="boxes_item editor" contentid="2">
                @await Component.InvokeAsync("HtmlContent", new { contentid = 2 })
            </div>
            <div class="boxes_item editor" contentid="3">
                @await Component.InvokeAsync("HtmlContent", new { contentid = 3 })
            </div>
            <div class="boxes_item editor" contentid="4">
                @await Component.InvokeAsync("HtmlContent", new { contentid = 4 })
            </div>
        </div>

        <div class="about_section1" style="padding-bottom: 155px;">
            <a class="Confession_btn" href="KINGS-CONFESSION-OF-FAITH-2022.pdf">Confession of Faith</a>
        </div>
    </div>
</section>
<!-- beleive_section end -->

<!-- about start -->
<section class="Liburgy_main_content">
    <div class="container editor" contentid="5">
        @await Component.InvokeAsync("HtmlContent", new { contentid = 5 })
    </div>
</section>
<!-- END -->

<!-- FAQ start -->
<section class="beleive_section FAQ">
    <div class="container editor" contentid="6">
        @await Component.InvokeAsync("HtmlContent", new { contentid = 6 })
    </div>
</section>

<!-- FAQ end -->


<!-- CREC_Section start -->
<section class="CREC_Section">
    <div class="container">
        <div class="CREC_Content">
            <h2>
                The King's Congregation has been affiliated with the Communion of Reformed Evangelical Churches (CREC) since
                2001.
            </h2>
            <div class="CREC_Logo">
                <img src="/img/CREC.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- CREC_Section end -->
<!-- Learn More Section start -->
<section class="learnmore">
    <div class="container">
        <div class="inner_learn">
            <div class="learn_contenet">
                <h2>Want to Learn More?</h2>
            </div>
            <div class="learn_btn">
                <a class="contact_learn_btn" href=""> Contact</a>
            </div>
        </div>
    </div>
</section>
<!-- Learn More Section End -->