@{
    ViewData["Title"] = "The Kings Congreation";
}


<!-- about_section1 start -->
<section class="about_section1">
    <div class="container">
        <h2>Come, Taste and See that the Lord is Good</h2>
        <p>We are a Christian, evangelical, and Reformed congregation that seeks to worship the Triune God</p>
        <a class="Confession_btn" asp-controller="Home" asp-action="Liturgy">Confession of Faith</a>
    </div>
</section>
<!-- about_section1 End -->
<!-- about_back_img section start -->
<section class="about_back_img">
    <div class="container">
        <div class="about_img_content">
            @*<h2>Photo of Congregation Worshipping/Singing</h2>*@
            <img src="/img/tkc-alan.jpg" alt="Alan" style="border-radius: 5px;" />
        </div>
    </div>
</section>
<!-- about_back_img section end -->
<!-- beleive_section start -->
<section class="beleive_section">
    <div class="container">
        <h1>What We Believe</h1>
        <div class="inner_boxes">
            <div class="boxes_item">
                <div class="icon_box">
                    <img src="/img/Group10122871.svg" alt="">
                </div>
                <h3>Our Purpose</h3>
                <p>
                    We are covenanted together to worship and glorify the Triune God, to love one another, and to proclaim the
                    Gospel as His kingdom fills the whole earth.
                </p>
            </div>
            <div class="boxes_item">
                <div class="icon_box">
                    <img src="/img/Group10122872.svg" alt="">
                </div>
                <h3>Our Vision</h3>
                <p>
                    We do not exist to serve ourselves but rather to exalt the glorious Name of the Father, Son, and Holy
                    Spirit as a community of those who have been purchased by the blood of our Lord and King, Jesus Christ..
                </p>
            </div>
            <div class="boxes_item">
                <div class="icon_box">
                    <img src="/img/Group13.svg" alt="">
                </div>
                <h3>Our Mission</h3>
                <p>
                    We seek to raise up godly children in the faith, and to celebrate the goodness of God with feasting,
                    singing, hospitality, and worship. All of these are Christian duties as well as glorious privileges with
                    blessings.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- beleive_section end -->
<!-- CREC_Section start -->
<section class="CREC_Section">
    <div class="container">
        <div class="CREC_Content">
            <h2>
                The King's Congregation has been affiliated with the Communion of Reformed Evangelical Churches (CREC) since
                2001.
            </h2>
            <div class="CREC_Logo">
                <img src="/img/CREC.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- CREC_Section end -->
<!-- Learn More Section start -->
<section class="learnmore">
    <div class="container">
        <div class="inner_learn">
            <div class="learn_contenet">
                <h2>Want to Learn More?</h2>
            </div>
            <div class="learn_btn">
                <a class="contact_learn_btn" href=""> Contact</a>
            </div>
        </div>
    </div>
</section>
<!-- Learn More Section End -->