@{
    ViewData["Title"] = "The Kings Congregation";
}

<!-- Hero Section Start -->
<section class="hero_section">
    <div class="container">
        <div class="inner_hero editor" contentid="13">
            @await Component.InvokeAsync("HtmlContent", new { contentid = 13 })
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- About Section Start -->
<section class="about_section">
    <div class="container">
        <div class="content_about editor" contentid="11">
            @await Component.InvokeAsync("HtmlContent", new { contentid = 11 })
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Resources Section Start -->
<section class="resources_section">
    <div class="container">
        <div class="inner_resources align-items-lg-center editor" contentid="12">
            @await Component.InvokeAsync("HtmlContent", new { contentid = 12 })
        </div>
    </div>
</section>
<!-- Resources Section End -->
<!-- Learn More Section start -->
<section class="learnmore">
    <div class="container">
        <div class="inner_learn">
            <div class="learn_contenet">
                <h2>Want to Learn More?</h2>
            </div>
            <div class="learn_btn">
                <a class="contact_learn_btn" asp-controller="Home" asp-action="Contact"> Contact</a>
            </div>
        </div>
    </div>
</section>
<!-- Learn More Section End -->
