@{
    ViewData["Title"] = "The Kings Congregation";
}

@model HTMLContent

<!-- Liburgy_main_section start -->
<section class="Liburgy_main_section">
    <div class="container">
        <h1>Liturgy</h1>
        <p>Service begins at 8:30 AM each Sunday at <u> The Ambrose School Great Hall</u></p>
    </div>
</section>

<!-- Liburgy_main_section end -->
<!-- Liburgy_main_content start -->
<section class="Liburgy_main_content">
    <div class="container">
        <div class="Liburgy_main_value">
            @Html.Raw(@Model.Value)
        </div>
    </div>
</section>
<!-- Liburgy_main_content start -->