@{
    ViewData["Title"] = "The Kings Congreation";
}

@model HTMLContent

<style type="text/css">
    .beleive_section {
        padding-top: 100px;
    }
    .beleive_section .inner_boxes {
        padding-top: 0px;
    }
    .Liburgy_main_content .Liburgy_main_value {
        margin-top: 30px;
    }
</style>
<!-- Liburgy_main_section start -->
<section class="Liburgy_main_section">
    <div class="container">
        <h1>Lord's Day Worship</h1>
        <p>Service begins at 8:30 AM each Sunday at <u> The Ambrose School Great Hall</u></p>
    </div>
</section>

<section class="beleive_section">
    <div class="container">
        <div class="inner_boxes">
            <div class="boxes_item">
                
                <h3>Worship</h3>
                <p>
                    We are grateful to be able to meet in the Great Hall at the Ambrose School at 8:30am on Sundays.
                    The entrance in on the south side of the building. Visitors are most warmly welcome to join us.
                    <br /><br />
                    We hold several recurring events at our Pienza property in south Meridian. The address is 1150 E Pienza St, Meridian, ID 83642.
                </p>
            </div>
            <div class="boxes_item">
                
                <h3>Childcare</h3>
                <p>
                    Because children are considered members of God’s household along with their
                    parents, we do not provide childcare during worship. We do have a nursing room for
                    mothers with infants as well as a quiet room for parents who are training their children to sit quietly in church.
                </p>
            </div>
            <div class="boxes_item">
                
                <h3>Communion</h3>
                <p>
                    Communion is held weekly. All who profess faith in the Lord Jesus Christ and who have been baptized are invited to participate in the Lord’s Supper.
                </p>
            </div>
        </div>
    </div>
</section>