@{
    ViewData["Title"] = "The Kings Congregation";
}

@model HTMLContent

<style type="text/css">
    .beleive_section {
        padding-top: 100px;
    }
    .beleive_section .inner_boxes {
        padding-top: 0px;
    }
    .Liburgy_main_content .Liburgy_main_value {
        margin-top: 30px;
    }
</style>
<!-- Liburgy_main_section start -->
<section class="Liburgy_main_section">
    <div class="container editor" contentid="14">
        @await Component.InvokeAsync("HtmlContent", new { contentid = 14 })
    </div>
</section>

<section class="beleive_section">
    <div class="container">
        <div class="inner_boxes editor" contentid="15">
            @await Component.InvokeAsync("HtmlContent", new { contentid = 15 })
        </div>
    </div>
</section>