@{
    ViewData["Title"] = "The Kings Congregation";
}

<!-- Liburgy_main_section start -->
<section class="Liburgy_main_section">
    <div class="container">
        <h1>Privacy Policy</h1>
    </div>
</section>

<!-- Liburgy_main_content start -->
<section class="Liburgy_main_content">
    <div class="container">
        <div class="Liburgy_main_value">
            <span>We praise God and ask Him to receive our worship</span>
            <p>Test P</p>
        </div>
    </div>
</section>
