@{
    ViewData["Title"] = "The Kings Congreation";
    Layout = "_LayoutAdmin";
}

<section class="sermon_video_btn">
    <div class="container">
        <div class="inner_video_sermons">

            <div class="info_sermon_img">
                <img src="/img/phone-music 1.svg" alt="">
                <span>Admin - Music</span>
            </div>
            <div class="sermons_btns">
                <a class="all_btns_sermon" asp-controller="Admin" asp-action="Index">Admin Home</a>
                <a class="all_btns_sermon" asp-controller="Admin" asp-action="MusicList">All Music</a>
            </div>
        </div>
    </div>
</section>


<section class="sermons_video_section">
    <div class="container">

        <h4>Details</h4>

        <div class="form-floating mb-3">
            <input class="form-control" aria-required="true" placeholder="Title" id="itemtitle" />
            <label class="form-label">Title</label>
            <span id="error_itemtitle" style="display:none;" class="text-danger">Title is required</span>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" aria-required="true" type="date" placeholder="Date Created" id="itemdate" />
            <label class="form-label">Date</label>
            <span id="error_itemdate" style="display:none;" class="text-danger">Date is required</span>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" aria-required="true" placeholder="Video Url" id="itemvideourl" />
            <label class="form-label">Video Url (optional)</label>
            <span class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" aria-required="true" placeholder="Video Url" id="itemsingalongurl" />
            <label class="form-label">Sing Along Url (optional)</label>
            <span class="text-danger"></span>
        </div>

        <h4>Files</h4>

        <div class="form-floating mb-3">
            <label class="form-label" style="padding: 0.1rem .75rem;">Audio file</label>
            <input type="file" class="form-control" aria-required="true" id="itemaudio" placeholder="File" />
            <span id="error_itemfile" style="display:none;" class="text-danger">File is required</span>
        </div>

        <div class="form-floating mb-3">
            <input type="file" class="form-control" aria-required="true" id="itempdf" placeholder="Pdf File" />
            <label class="form-label">Pdf (optional)</label>
            <span class="text-danger"></span>
        </div>

        <div>
            <button id="submit" type="submit" class="w-100 btn btn-lg btn-primary" onclick="save();">Save</button>
        </div>
        <br />
        <br />

    </div>
</section>

<script type="text/javascript">

    function doSave() {

        var inputAudio = $('#itemaudio')[0].files[0];
        var inputPdf = $('#itempdf')[0].files[0];

        const title = $("#itemtitle").val().trim();
        const videoUrl = $("#itemvideourl").val().trim();
        const singAlongUrl = $("#itemsingalongurl").val().trim();

        const dateCreated = $("#itemdate").val().trim();

        var formData = new FormData();

        if (inputAudio) {
            formData.append('audio', inputAudio);
        }

        if (inputPdf) {
            formData.append('pdf', inputPdf);
        }

        formData.append('title', title);
        formData.append('videoUrl', videoUrl);
        formData.append('singAlongUrl', singAlongUrl);
        formData.append('dateCreated', dateCreated);

        $.ajax({
            url: '/api/music/',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                handleResults();
            },
            error: function (error) {
                alert("Unable to save, please check your internet connection.");
            }
        });
    }

    function save() {

        const isValid = validateForm();
        console.log(isValid);
        if (!isValid) {
            return;
        }

        doSave();
    }

    function validateForm() {
        const title = $("#itemtitle").val().trim();
        const dateCreated = $("#itemdate").val().trim();

        var inputFile = $('#itemaudio')[0].files[0];

        var isValid = true;

        if (title.length == 0) {
            isValid = false;
            $("#error_itemtitle").show();
        } else {
            $("#error_itemtitle").hide();
        }

        if (dateCreated.length == 0) {
            isValid = false;
            $("#error_itemdate").show();
        } else {
            $("#error_itemdate").hide();
        }

        if (inputFile) {
            $("#error_itemfile").hide();
        } else {
            isValid = false;
            $("#error_itemfile").show();
        }

        return isValid;
    }

    function handleResults(results) {
        var url = $("#allitemslink").attr("href");
        window.location.href = url;
    }

    </script>