@import url("/css/fonts.css");

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'DM Sans';
}

body,
html {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.fontHeading {
    font-family: 'DM Serif Text' !important;
}

.container {
    max-width: 1250px;
    width: 100%;
    height: 100%;
}

// scroll btn start

.btn-danger {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: #F7F4F2;
    box-shadow: 0px 4px 8px 0px rgba(7, 22, 45, 0.16);
    border: none;
    border-radius: 50px;
}

.btn-danger:hover {
    background: #e8e6e5;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background: #e8e6e5;
}

// scroll btn start

// Header section start
.header_section {
    padding: 40px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

    .navbar {
        padding: 0 !important;
    }

    .navbar-nav {
        max-width: 174px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;


    }

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
    }

    .nav-link {
        padding: 0 !important;

        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
    }

    .img_logo {
        max-width: 192px;
        width: 100%;
    }

    .contact_btn {
        max-width: 110px;
        width: 100%;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        color: #07162D;
        border: 1px solid #07162D;
    }
}

// Header section End

// Hero Section start
.hero_section {
    .hero_content {
        width: calc(50% - 10px);
    }

    .inner_hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 120px;
    }

    h1 {
        color: #07162D;
        font-size: 104px;
        font-family: 'DM Serif Text';
        font-style: normal;
        font-weight: 400;
        line-height: 1.0;
        letter-spacing: -2.08px;
    }

    p {
        color: #07162D;

        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.0;
        letter-spacing: -0.48px;
        margin-top: 40px;
    }

    .join_us_btn {
        max-width: 111px;
        width: 100%;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #07162D;
        color: #FFF;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.0;

    }

    .hero_section_btns {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 48px;
    }

    .resources_btn {
        max-width: 135px;
        width: 100%;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.0;
        color: #07162D;
        border: 1px solid #07162D;

    }

    .hero_section_img {
        // max-width: 600px;
        width: calc(50% - 10px);
    }
}

// Hero Section End

//   About Section Start
.about_section {
    background: #F7F4F2;

    .content_about {
        padding: 160px 0px;
    }

    h4 {
        color: #07162D;
        text-align: center;

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.0;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        padding-bottom: 35px;
    }

    h2 {
        max-width: 504px;
        width: 100%;
        color: #07162D;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.0;
        letter-spacing: -0.96px;
        margin: auto;
        padding-bottom: 35px;
    }

    p {
        max-width: 504px;
        width: 100%;
        color: #07162D;

        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: -0.32px;
        margin: auto;
        padding-bottom: 35px;
        text-align: center;
    }

    .about_btn {
        display: flex;
        gap: 30px;
        justify-content: center;
    }

    .about_btn .learn_more {
        max-width: 141px;
        width: 100%;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #07162D;
        color: #FFF;
        text-decoration: none;

    }

    .about_btn .contact_btn {
        border: 1px solid#07162D;
        color: #07162D;
        max-width: 118px;
        width: 100%;
        height: 54px;
        display: flex;
        justify-content: center;
        text-decoration: none;
        align-items: center;

    }
}

//   About Section End

// Resources Section Start
.resources_section {

    .inner_resources {
        display: flex;
        justify-content: space-between;
        margin: 120px 0px;
    }
    
    

    .resources_content {
        max-width: 460px;
        width: 100%;
    }

    .resources_img {
        width: calc(50% - 10px);
    }

    h5 {
        color: #07162D;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.0;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        padding-bottom: 16px;
    }

    h2 {
        color: #07162D;
        max-width: 458px;
        width: 100%;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -1.12px;
        padding-bottom: 40px;
    }

    p {
        max-width: 310px;
        width: 100%;

        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -0.32px;
        padding-bottom: 48px;
    }

    .resourece_btn {
        background: #07162D;
        max-width: 158px;
        width: 100%;
        height: 54px;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
}

// Resources Section End

// Learn More Section start
.learnmore {
    background: #B8945C;
    padding: 137px 0;

    .inner_learn {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h2 {
        color: #07162D;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -1.12px;
        font-family: DM Serif Text;
    }

    .contact_learn_btn {
        width: 118px;
        height: 54px;
        background-color: #07162D;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #FFF;

        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    }
}

// Learn More Section end

// footer start
.footer_section {
    background: #07162D;

    .inner_footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 160px;
        padding-bottom: 120px;
        border-bottom: 1px solid #FFFFFF;

    }

    .footer_img {
        max-width: 190px;
        width: 100%;
    }


    .footer_content .footer_link a {
        color: #FFF;

        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 2.0;
        text-decoration: none;

    }

    .fooer_copyright h4 {
        color: #FFF;
        text-align: center;

        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.0;
        letter-spacing: -0.32px;
        padding: 48px 0px;
    }
}

// footer end

// about_section1 start
.about_section1 {
    h2 {
        padding-top: 160px;
        color: #07162D;
        text-align: center;
        font-size: 104px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -2.08px;
        max-width: 717px;
        width: 100%;
        margin: auto;
        font-family: 'DM Serif Text';
    }

    p {
        padding-top: 40px;
        padding-bottom: 48px;
        color: #07162D;

        text-align: center;

        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.0;
        letter-spacing: -0.48px;
        max-width: 553px;
        width: 100%;
        margin: auto;
    }

    .Confession_btn {
        max-width: 201px;
        width: 100%;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #FFF;
        background: #07162D;
        margin: auto;

        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.0;
        margin-bottom: 120px;
    }
}

// about_section1 End

.about_back_img {
    background: linear-gradient(0deg, #f6f3f3 0%, #B1B1B1 100%), url('/img/about_back_img.png'), lightgray 0px -177.828px / 100% 157.591% no-repeat;
    height: 720px;

    .about_img_content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    h2 {
        color: #FFF;
        text-align: center;
        font-size: 62.462px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.0;
        max-width: 724px;
        width: 100%;
    }
}

// beleive_section start
.beleive_section {
    background: #F7F4F2;
    padding-top: 200px;

    h1 {
        color: #07162D;
        text-align: center;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        font-family: DM Serif Text;
        line-height: 100%;
        letter-spacing: -1.12px;
    }

    .boxes_item {
        background: #FFF;
        width: calc(33.33% - 16px);
        padding: 40px;
    }

    .boxes_item .icon_box {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background: #F7F4F2;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    h3 {
        color: #07162D;

        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: -0.48px;
        padding-bottom: 20px;
    }

    p {
        color: #07162D;

        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -0.32px;
    }

    .inner_boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 96px;
        padding-bottom: 155px;
    }
}

// beleive_section end


// CREC_Section start
.CREC_Section {
    .CREC_Content {
        margin: 160px 0;
    }

    h2 {
        color: #07162D;
        text-align: center;
        max-width: 736px;
        width: 100%;
        margin: auto;

        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: -0.48px;
    }

    .CREC_Logo {
        margin-top: 88px;
        max-width: 98px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

// CREC_Section end

// resources_sections start
.resources_sections {
    .sermons_section{
        max-width: 590px;
        width: 100%;
    }
    h2 {
        padding: 160px 0;
        max-width: 719px;
        color: #07162D;
        text-align: center;
        font-size: 104px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.0;
        letter-spacing: -2.08px;
        margin: auto;
        font-family: DM Serif Text;
    }

    .resources_content {
        max-width: 592px;
        width: 100%;
        display: flex;
        padding-bottom: 32px;
        align-items: center;
        justify-content: space-between;
    }

    h5 {
        color: #07162D;

        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -0.48px;
    }

    span {
        color: #07162D;


        font-size: 16px;
        font-weight: 500;
        line-height: 1.0;
    }

    .resources_values {
        display: flex;
        align-items: center;
        gap: 20px;
        border-bottom: 1px solid rgba(20, 20, 20, 0.10);
        max-width: 592px;
        width: 100%;
        padding-bottom: 16px;
        margin-bottom: 16px;
        &:last-child{
            border-bottom: 0;
        }
    }

    .resources_values .box_info {
        width: 72px;
        height: 72px;
        background: #F7F4F2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .see_all {
        color: #07162D;

        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.0;
        letter-spacing: -0.32px;
        text-decoration: none;
        span{
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    .dout {
        padding: 0 12px;
    }

    h4 {
        color: #07162D;

        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: -0.48px;
    }

    .inner_resources {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 216px;
    }
}

// resources_sections end

// liturgy_section start
.liturgy_section {
    background: #B8945C;

    .Liturgy_content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:last-of-type {
            border-left: 1px solid #07162D;
            padding-left: 85px;
        }
    }

    h1 {
        color: #07162D;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: -1.12px;
        font-family: DM Serif Text;
    }

    p {
        color: #07162D;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        max-width: 360px;
        letter-spacing: -0.32px;
        margin-bottom: 40px;
    }

    .view_liturgy_btn {
        max-width: 150px;
        width: 100%;
        height: 54px;
        text-decoration: none;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #07162D;
        margin-top: auto;
    }

    .view_liturgy_btn.live {
        margin-top: 40px;
    }

    img {
        padding-left: 8px;
    }

    .inner_liurgy {
        display: flex;
        justify-content: space-between;
        padding: 160px 0px;

    }
}

// liturgy_section end


// my devices media query
@media (max-width: 1370px) {
    .container {
        max-width: 1175px;
    }

    .liturgy_section .inner_liurgy {

        padding: 130px 0px;

    }

    .resources_sections h2 {
        padding: 130px 0px;
        font-size: 90px;
    }

    .CREC_Section .CREC_Logo {
        margin-top: 60px;
    }

    .learnmore {
        padding: 90px 0;
    }

    .footer_section .inner_footer {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .CREC_Section .CREC_Content {
        margin: 130px 0;
    }

    .beleive_section .inner_boxes {
        padding-bottom: 100px;
    }

    .beleive_section {
        padding-top: 100px;
    }

    .about_section1 .Confession_btn {
        margin-bottom: 80px;
    }

    .about_back_img {
        height: 600px;
    }

    .about_section1 h2 {
        padding-top: 100px;
    }

    .header_section {
        padding: 25px 0px;
    }



    .hero_section .hero_section_img {
        // max-width: 500px;
        // width: 100%;
    }

    .resources_section.resources_img {
        max-width: 500px;
        width: 100%;
    }

    .contact_section .contact_img::before {
        content: "";
        background-image: url("/img/contact.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        left: -150px;
        width: calc(100% + 150px);
        height: 100%;
        z-index: -1;
    }


}


// <!-- Liburgy_main_section start -->
.Liburgy_main_section {
    background: #F7F4F2;

    h1 {
        padding-top: 160px;
        color: #07162D;
        font-size: 104px;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -2.08px;
        font-family: DM Serif Text;
    }

    p {
        color: #07162D;
        text-align: center;
        padding-bottom: 93px;
        font-size: 24px;

        font-weight: 400;
        line-height: 1.0;
        letter-spacing: -0.48px;
    }
}

.Liburgy_main_content {
    .Liburgy_main_value {
        max-width: 592px;
        width: 100%;
        margin: auto;
        margin-top: 120px;
        margin-bottom: 220px;
    }

    h5 {
        color: #07162D;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.0;
        letter-spacing: -0.48px;
    }

    h4 {
        color: #07162D;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8;
        letter-spacing: -0.48px;
        margin-top: 34px;
    }

    span {
        color: #07162D;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.0;
        letter-spacing: -0.32px;
    }

    ul {
        list-style-type: disc;
        margin-left: 25px;
    }
}

// Liburgy_main_section end



// contact_section start
.contact_section {
    .contact_img {
        position: relative;
        max-width: 864px;
        width: 100%;
        height: 807px;

        &::before {
            content: '';
            background-image: url('/img/contact.png');
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            left: -250px;
            width: calc(100% + 250px);
            height: 100%;
            // transform: translateX(-15%);
            z-index: -1;
        }
    }

    .inner_contact {
        display: flex;
        justify-content: space-between;
    }

    .content_contact {
        position: relative;
        max-width: 864px;
        width: 100%;
        height: 807px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 120px;

        &::before {
            content: "";
            background-color: #F7F4F2;
            position: absolute;
            left: 0;
            width: calc(100% + 250px);
            height: 100%;

            z-index: -1;
        }
    }

    h1 {
        padding-bottom: 63px;
        color: #07162D;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8;
    }

    .form-control {
        border-radius: 0;
        max-width: 448px;
        width: 100%;
        padding: 24px;
        margin-bottom: 6px;
        border-color: rgba(7, 22, 45, 0.40);
        height: 72px;
    }
    textarea.form-control{
        height: 160px;
    }


    .form-control:focus {
        box-shadow: none;
        border-color: rgba(7, 22, 45, 0.40);
    }

    ::placeholder {
        color: #07162D;

        letter-spacing: -0.32px;
        opacity: 0.699999988079071;

    }

    .contact_btn_sub {
        max-width: 111px;
        height: 54px;
        text-decoration: none;
        color: #FFF;
        background: #07162D;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.0;
        margin-top: 24px;
    }

}

// contact_section end


// services_section start
.services_section {

    .inner_services {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 199px;
        margin-bottom: 168px;
    }

    h2 {
        color: #07162D;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        text-align: center;
        max-width: 264px;
        margin-bottom: 32px;
        width: 100%;
    }

    span {
        max-width: 264px;
        width: 100%;
        display: block;
        color: #07162D;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        line-height: 1.0;
        letter-spacing: -0.32px;
    }

}

// services_section end


// Sermons section start
.Sermons_section {
    margin-bottom: 202px;

    .inner_search_bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .inner_search_bar {
        margin-bottom: 50px;
    }

    h2 {
        padding-top: 160px;
        padding-bottom: 108px;
        color: #07162D;
        text-align: center;
        font-size: 104px;
        font-style: normal;
        font-weight: 400;
        line-height: 96%;
        letter-spacing: -2.08px;
        font-family: DM Serif Text;
    }

    span {
        color: #07162D;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.0;
        letter-spacing: -0.32px;
    }

    h4 {
        color: #07162D;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: -0.48px;
    }

    .search_bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 592px;
        width: 100%;
        border: 1px solid #07162D;
        padding: 16px 24px;

    }

    .form-control {

        border: none;
        padding: 0;
    }

    .form-control:focus {

        border-color: transparent;
        outline: 0;
        box-shadow: none;
    }

    .showing_arrow {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .left_arrow {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #07162D;
    }

    .sermons_values {
        display: flex;
        align-items: center;
        gap: 12px;
    }



    .sermons_date {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .inner_valus_data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 32px;
        margin-bottom: 32px;
        border-bottom: 1px solid rgba(20, 20, 20, 0.10);
        &:last-child{
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: 0;
        }
    }
}

// Sermons section end


// Sermons_video_section start
.sermon_video_btn {
    .inner_video_sermons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px 0;
    }

    .info_sermon_img {
        display: flex;
        align-items: center;
    }

    .sermons_btns {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    .all_btns_sermon {
        padding: 16px 28px;
        border: 1px solid #07162D;
        text-decoration: none;
        color: #07162D;
    }

}

.sermons_video_section {
    background: #F7F4F2;
    padding-top: 160px;

    span {
        color: #07162D;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -0.32px;
        text-align: center;
        display: flex;
        justify-content: center;

    }

    h3 {
        color: #07162D;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        /* 100% */
        letter-spacing: -0.96px;
        max-width: 384px;
        width: 100%;
        margin: auto;

    }

    .inner_video_date {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    .sermons_video_img {
        margin-top: 56px;
        max-width: 1216px;
        width: 100%;
        position: relative;
        margin-bottom: 96px;
    }

    .play_button {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .audio_img {
        padding-top: 32px;

        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 160px;
    }
}

// Sermons_video_section end


.downloadBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #07162D;
    max-width: 190px;
    width: 100%;
    height: 55px;
    color:  #07162D;
font-size: 16px;
font-weight: 500;
line-height: 1.2;
text-decoration: none;
margin-top: 85px;
}
/* Responsive part start */
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .Liburgy_main_section h1 {
        padding-top: 130px;
        font-size: 90px;
    }

    .about_section1 h2 {
        font-size: 80px;
    }

    .about_back_img {
        height: 500px;
    }

    .header_section {
        .navbar-toggler {
            border: none;
        }
    }

    .resources_sections .inner_resources {
        justify-content: center;
        margin-bottom: 150px;
    }

    .contact_section .content_contact {
        padding-left: 30px;
    }

    .beleive_section .inner_boxes {
        justify-content: start;
        gap: 15px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .contact_section .contact_img {
        height: 660px;
    }
    .beleive_section .boxes_item{
        width: calc(50% - 10px);
    }
    .about_section1{
        margin-top: 90px;
    }
    .hero_section .hero_section_img {
        width: 100%;
    }
    .resources_section .resources_img {
        width: 100%;
    }
    .resources_section .resources_content {
        max-width: 100%;
    }
    .hero_section .hero_content {
        width: 100%;
        margin-bottom: 90px;

    }
    .sermons_video_section {

        padding-top: 130px;
    }

    .Sermons_section {
        margin-bottom: 130px;
    }

    .Sermons_section .inner_valus_data {
gap: 4px;
        flex-wrap: wrap;
    }

    .sermons_video_section .audio_img {
        padding-top: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 130px;
    }

    .Liburgy_main_section p {
        font-size: 18px;
    }

    .header_section {
        position: fixed;
        width: 100%;
        top: 0;
        background: #fff;
        z-index: 9999;
    }

    .liturgy_section .inner_liurgy {
        flex-wrap: wrap;
    }

    .hero_section .inner_hero {
        margin-top: 154px;
        margin-bottom: 120px;
        flex-wrap: wrap;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-nav .nav-link.active {
        padding-bottom: 40px !important;
    }

    .header_section .navbar-nav {
        margin-top: 40px;
    }

    .navbar-toggler {
        padding: none;
    }

    .header_section .navbar-collapse.collapse {
        height: 100vh !important;
        transition: unset;
    }


    .header_section .nav_icons .cross_icon {
        display: none;
    }

    .header_section .nav_icons.nav__icons .cross_icon {
        display: block;
    }

    .header_section .nav_icons.nav__icons .ham_icon {
        display: none;
    }

    .header_section .contact_btn {
        margin: auto;
    }

    .hero_section h1 {
        font-size: 85px;
    }

    .about_section .content_about {
        padding: 80px 0px;
    }

    .beleive_section .inner_boxes {
        gap: 20px;
        justify-content: center;

    }

    .resources_section .inner_resources {
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 20px;
    }

    .resources_sections h2 {
        padding-top: 160px;
        padding-bottom: 80px;
        max-width: 500px;
        width: 100%;
        font-size: 75px;
    }

    .resources_section h2 {
        font-size: 48px;
    }

    .learnmore h2 {

        font-size: 50px;
    }

    .Liburgy_main_section h1 {

        font-size: 75px;
    }

    .Liburgy_main_content .Liburgy_main_value {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .resources_sections .inner_resources {

        justify-content: center;
    }

    .liturgy_section .Liturgy_content:last-of-type {
        border-top: 1px solid #07162D;
        padding-left: 0;
        padding-top: 70px;
        margin-top: 70px;
        align-items: center;
        border-left: 0;
    }

    .liturgy_section .inner_liurgy {
        padding: 70px 0px;
    }

    .liturgy_section p {
        text-align: center;
    }

    .contact_section .content_contact {
        padding-left: 25px;
        height: 100%;
    }

    .contact_section .form-control {
        max-width: 335px;
        width: 100%;

    }

    .Sermons_section h2 {
        padding-top: 135px;
        padding-bottom: 96px;
        font-size: 75px;

    }


    .Sermons_section .search_bar {
        max-width: 400px;
        width: 100%;

    }

    .Sermons_section .inner_search_bar {
        flex-wrap: wrap;

    }

    .sermons_video_section .play_button {
        max-width: 150px;
        width: 100%;
    }

    .sermon_video_btn {
        margin-top: 120px;
    }
}

/* mobile Phones small devices */
@media (max-width: 575.98px) {
    .sermons_video_section .audio_img audio{
        width: 100%;
    }
    .downloadBtn {
        margin-top: 50px;
    }
    .inner_resources .music_section{
        max-width: 590px;
        width: 100%;
    }
    .Liburgy_main_section {
        padding-top: 40px;
    }
    .beleive_section .boxes_item{
        width: 100%;
    }
    .resources_section .resources_content {
        margin-bottom: 80px;
    }

    .hero_section .inner_hero {
        flex-wrap: wrap;
        margin-top: 96px;
    }

    .hero_section h1 {
        font-size: 56px;
        max-width: 256px;
        width: 100%;
        margin-top: 96px;
    }

    .resources_section .inner_resources {
        margin: 160px 0px;
    }

    .about_section .content_about {
        padding: 160px 0px;
    }

    .liturgy_section .inner_liurgy {
        padding: 160px 0px;
    }

    .resources_sections .inner_resources {

        margin-bottom: 160px;
    }

    .learnmore .inner_learn {
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

    .learnmore h2 {
        line-height: 1.0;
        padding-bottom: 48px;
    }

    .footer_section .inner_footer {
        padding-top: 134px;
        flex-direction: column;
        align-items: center;
        padding-bottom: 104px;
    }

    .footer_section .fooer_copyright h4 {
        max-width: 235px;
        width: 100%;
        margin: auto;
        line-height: 1.5;

    }

    .footer_section .footer_img {
        margin-bottom: 104px;
    }

    .footer_section .footer_content ul {
        text-align: center;
    }

    .footer_section .footer_content .footer_link a {
        line-height: 2.3;

    }

    // about page responsive
    .about_section1 h2 {

        font-size: 56px;
        margin-top: 96px;
    }

    .beleive_section h1 {
        font-size: 48px;
        font-family: DM Serif Text;
    }

    .beleive_section .inner_boxes {
        gap: 32px;
        padding-bottom: 160px;
    }

    .about_back_img h2 {
        font-size: 38px;
    }

    .CREC_Section h2 {
        line-height: 1.5;
    }

    .Liburgy_main_section h1 {

        font-size: 56px
    }

    // resources_sections page responsive
    .resources_sections h2 {
        font-size: 56px;
        margin-top: 96px;
        padding-bottom: 85px;

    }

    .contact_section .content_contact {
        padding: 0px 20px;
        margin-top: 95px;
        padding-top: 90px;
        justify-content: start;
    }
    .contact_section .content_contact::before{
        top: 0;
    }

    .contact_section .form-control {
        max-width: 350px;
        width: 100%;
    }

    .contact_section .row {

        flex-wrap: wrap-reverse;
    }

    .services_section .inner_services {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 120px 0;
    }

    .services_section .content_services.email {
        margin-top: 96px;
    }

    .contact_section .contact_img {
        height: 580px;
    }

    .Sermons_section {
        margin-bottom: 160px;
    }

    .Sermons_section h2 {
        font-size: 56px;
    }

    .Sermons_section h4 {
        width: 100%;
    }

    .Sermons_section .inner_search_bar {
        justify-content: center;
    }

    .Sermons_section .inner_valus_data {
        flex-wrap: wrap;
    }

    .Sermons_section .sermons_values {
        flex-wrap: wrap-reverse;
    }

    .Sermons_section .showing_arrow {
        justify-content: space-between;
        width: 100%;
        margin-top: 8px;
    }

    .Sermons_section .inner_search_bar {
        margin-bottom: 56px;
    }

    .sermons_video_section h3 {
        font-size: 36px;
        max-width: 310px;
        width: 100%;
    }

    .sermons_video_section .play_button {
        max-width: 124px;
        width: 100%;
        height: 100px;
    }

    .sermon_video_btn .inner_video_sermons {
        justify-content: center;

    }

    .sermon_video_btn .info_sermon_img {
        display: none;
    }

    .sermons_video_section {
        padding-top: 120px;
    }
}