<style type="text/css">
    .custom-subscribe-btn {
        background-color: #B8945C;
        color: white;
        border-radius: 0;
        border: none;
    }
</style>

<div class="container mt-5 mb-5">
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/Blog">Blog</a></li>
        </ol>
    </nav>

    <!-- Blog Title -->
    <h1 class="mb-4">From the Pastor's Desk</h1>

    <div class="row">
        <!-- Left Column: List of Blogs -->
        <div class="col-md-8">

            <!-- Updated Example Blog Post -->
            <div class="d-flex mb-4">
                <img src="/img/150.png" class="img-thumbnail mr-3" alt="Thumbnail" style="width: 150px; height: auto;">
                <div class="flex-grow-1 ms-3 me-3">
                    <h5 class="mt-0">Blog Post Title 1</h5>
                    <p class="text-muted">March 15, 2024</p>
                    <p>text here</p>
                    <a href="/Blog/id/test" class="btn btn-link p-0">Continue Reading</a>
                </div>
            </div>

            <!-- Updated Example Blog Post -->
            <div class="d-flex mb-4">
                <img src="/img/150.png" class="img-thumbnail mr-3" alt="Thumbnail" style="width: 150px; height: auto;">
                <div class="flex-grow-1 ms-3 me-3">
                    <h5 class="mt-0">Blog Post Title 2</h5>
                    <p class="text-muted">March 15, 2024</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel lacus in erat faucibus laoreet.</p>
                    <a href="/Blog/1/test" class="btn btn-link p-0">Continue Reading</a>
                </div>
            </div>

            <!-- Updated Example Blog Post -->
            <div class="d-flex mb-4">
                <img src="/img/150.png" class="img-thumbnail mr-3" alt="Thumbnail" style="width: 150px; height: auto;">
                <div class="flex-grow-1 ms-3 me-3">
                    <h5 class="mt-0">Blog Post Title 3</h5>
                    <p class="text-muted">March 15, 2024</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel lacus in erat faucibus laoreet.</p>
                    <a href="/Blog/1/test" class="btn btn-link p-0">Continue Reading</a>
                </div>
            </div>

            <!-- Updated Example Blog Post -->
            <div class="d-flex mb-4">
                <img src="/img/150.png" class="img-thumbnail mr-3" alt="Thumbnail" style="width: 150px; height: auto;">
                <div class="flex-grow-1 ms-3 me-3">
                    <h5 class="mt-0">Blog Post Title 4</h5>
                    <p class="text-muted">March 15, 2024</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel lacus in erat faucibus laoreet.</p>
                    <a href="/Blog/1/test" class="btn btn-link p-0">Continue Reading</a>
                </div>
            </div>

            <!-- Add more blog posts as needed -->


        </div>

        <!-- Right Column: Email Signup and Blog Topics - Changed to <aside> -->
        <aside class="col-md-4">
            <!-- Email Signup -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Stay Updated</h5>
                    <p class="card-text">Sign up to receive updates directly in your inbox.</p>
                    <form>
                        <div class="form-group mb-2 mt-2">
                            <input type="email" class="form-control" id="email" placeholder="Enter your email">
                        </div>
                        <button type="submit" class="btn custom-subscribe-btn">Subscribe</button>
                    </form>
                </div>
            </div>

            <!-- Recent Posts -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Recent Posts</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Blog Post Title 1</a></li>
                        <li><a href="#">Blog Post Title 2</a></li>
                        <li><a href="#">Blog Post Title 3</a></li>
                    </ul>
                </div>
            </div>

            <!-- Blog Topics -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Blog Topics</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Faith</a></li>
                        <li><a href="#">Bible Study</a></li>
                        <li><a href="#">Christian Living</a></li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
</div>
